body{
  width: 98%;
}
#menutab{
  position: absolute;
  left: 9%;
  top: 7%;
}.landing{
  height: 540px;
  width: 100%;
  background-image: url("Anitas-Kitchen-Images/backgrounds/landing.jpg");
  background-size: 100%;
  color: white;
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}
#menutab>a:visited{
  color: white;
}
#logo>img{
  margin-top: 6%;
}
#logo>p{
  font-size: 2em;
  margin-bottom: -3%;
}
.meals{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: 180px;
  margin: auto;
}
.meals p{
  text-align: center;
  padding-top: 24%;
  width: 100%;
  height: 60%;
  margin: 0%;
}
#happyhr{
  background-color: rgba(190, 190, 190, 0.5);
  width: 100%;
  color: black;
  height: 50%;
  margin: 0%;
  padding-top: 12% ;
}
.timed, #breakfast, #Lunch, #Dinner{
  width: 25%;
  color: white;
  text-align: justify;
  background-size: 100%;
}
.timed{
  display: flex;
  flex-direction: column;
  justify-content: start;
}
#partytm{
  background-color: #f15A29;
  width: 100%;
  height: 50%;
  margin: 0%;
  padding-top: 12%;
}
#breakfast{
  background-image: url("Anitas-Kitchen-Images/foodtop/breakfast.jpg");
}
#Lunch{
  background-image: url("Anitas-Kitchen-Images/foodtop/lunch.jpg");
}
#Lunch>p{
  background-color: rgba(190, 193, 196, 0.6);
}
#Dinner{
  background-image: url("Anitas-Kitchen-Images/foodtop/dinner.jpg");
}
nav a{
  text-decoration: none;
  color: white;
  font-size: 5em;
}
.description{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}
.desc1, .desc2{
  width: 90%;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: 6%;
  margin-top: 8%;
  margin-right: 20%;
}
.desc1>#textbox{
  margin-right: 8%;
  margin-left: 12%;
  text-align: left;
}
.imagebox{
  border: 20px solid white;
  box-shadow: 1px 1px 5px grey;
}
.imagebox>img{
  margin-top:-3px;
  margin-bottom: -3px;
}
#textbox{
  display: flex;
  flex-direction: column;
}
#textbox>h1, h3{
  margin-bottom: -3%;
}
.desc2>#textbox{
  margin-right: 12%;
  text-align: right;
  margin-left: 8%;
}
.desc2>.imagebox{
  display: flex;
  flex-direction: row;
}
#textbox>button{
  color: #f15A29;
  padding:5%;
  font-size: 1.2em;
  width: 60%;
  font-weight: bolder;
  background-color: white;
  border: 2px solid #f15A29;
  margin-top: 4%;
}
.gallery{
  width: 100%;
  box-sizing: border-box;
  background-image: url("Anitas-Kitchen-Images/backgrounds/foodsBg.jpg");
  margin-top: 6%;
  height: 570px;
  text-align: center;
  padding:8% 4% 0px 4%;
}
#inset{
  background-color: white;
  width: 98.5%;
  height: 75%;
}
/*Styling for screens 720px and below*/
@media only screen and (max-width: 720px){
  #inset{
    overflow: scroll;
  }
  .meals{
    height: 70px;
  }
  .imagebox{
    width: 90%;
  }
  .imagebox>img{
    width: 100%;
  }
  #textbox{
    flex:initial;
    margin: 0%;
  }
  .desc2>.imagebox{
    width: 90%;
    margin-top: 3%;
  }
  .desc2>.imagebox>img{
    width: 50%;
  }
  .desc1, .desc2{
    flex-direction: column;
    border-bottom: 2px solid gray;
  }
  .combination{
    width: 100%;
    height: 110%;
    padding: 0%;
  }
  #aboutmenu{
    width: 100%;
  }
  .testimonials{
    margin-bottom: 8%;
    padding: 0%;
  }
  #emailline{
    margin-top: 8%;
  }
  #emailline>button{
    width: 10%;
    margin-left: 0%;
    font-size: 0.4em;
    overflow: hide;
    padding: 0%;
  }
  #textbox>button{
  font-size: 0.8em;
  width: 40%;
  height: 10px;
  text-align: left;
  }
}/*End of responsive styling*/
#inset nav{
  display: flex;
  font-size: 0.3em;
  /*justify-content: space-around;*/
  background-color: rgba(190, 190, 190, 0.5);
}#inset a{
  border-right  : 1px solid rgba(163, 163, 163, 0.7);
  height: 100%;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 10%;
  padding-right: 7.9%;
  border-collapse: collapse;
  padding-top: 1%;
  padding-bottom: 1%;
}
#inset a:first-child{
  background-color: white;
  color: #f15A29;
}
#Fast-foods{
  display: flex;  
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
#Fast-foods .previous{
  font-size: 4em;
  text-decoration: none;
  color: #f15A29;
  position: absolute;
  left: 10px;
  bottom: 50%;
  height: 20%;
  width: 1%;
  padding: 0%;
  border: 0px;
}
figcaption{
  margin-top: 4%;
  color: #f15A29;
}
#Fast-foods .next{
  font-size: 4em;
  text-decoration: none;
  color: #f15A29;
  position: absolute;
  right: -75px;
  top: 30%;
  border: 0px;
}
nav a{
  color: black;

}
.testimonials{
  width: 100%;
  height: 380px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  box-sizing: border-box;
}
.testimonials h2,.testimonials h3{
  color: #f15A29;
}
.combination{
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  box-shadow: 1px 1px 5px rgb(172, 172, 173);
  margin-left: -1%;
}
#customers>p{
  margin-top: -2%;
}
#customers{
  border-right: 2px solid rgba(206, 206, 206, 0.7);
  padding-right: 4%;
  display: flex;
  flex-direction: column;
}
#customers, #aboutmenu{
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}
#aboutmenu{
  width: 50%;
}
#customers, #aboutmenu>p{
  width: 90%;
}
#customers .previous, #customers .next{
  font-size: 3em;
  text-decoration: none;
  color: #f15A29;
}
#slide{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#slide>img{
  padding: 1%;
}
.newsletter{
  background-image: url("Anitas-Kitchen-Images/backgrounds/subscribe.jpg");
  height: 300px;
  width: 100%;
  color: white;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.newsletter>p{
  text-align: center;
  margin-top: 7%;
  height:2%;
}
#emailline{
  width:80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#emailline>button{
  background-color: #f15A29;
  margin-left: 3%;
  font-size: 0.6em;
  color: white;
  font-weight: normal;
  text-align: center;
  width: 15%;
  border-radius: 5px;
  padding: 0.8%;

}
#emailline>p{
 width: 45%;
 background-color: rgba(255, 255, 255, 0.2);
 border-radius: 5px;
 font-weight: lighter;
 font-size: 0.6em;
 padding: 1%;
}
.footer{
  background-color: #f15A29;
  color: white;
   height: 300px;
   text-align: center;
   font-size: 1.5em;
   padding-top: 5%;
}
.footer>span{
  font-size: 1.8em;
}
.footer>p:last-child{
  margin-top: 6%;
}
.footer>a{
  padding-left: 2%;
}
